<!DOCTYPE html>
<html lang='en' ng-app='app'>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>KIOSK</title>
    @Styles.Render("~/Content/css")
    <link href='~/Content/font-awesome/css/font-awesome.min.css' rel='stylesheet' />
    <link href='~/Content/kendo/styles/kendo.common.min.css' rel='stylesheet' />
    <link href='~/Content/kendo/styles/kendo.default.min.css' rel='stylesheet' />
    <link href='~/Content/app.css' rel='stylesheet' />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src='~/Content/kendo/js/angular.min.js'></script>
    <script src='~/Content/kendo/js/jszip.min.js'></script>
    <script src='~/Content/kendo/js/kendo.all.min.js'></script>
    <script src='~/Scripts/app.js'></script>
    <link rel='shortcut icon' href='#' />
</head>
<body>
    @RenderBody()
    <div id='loading'></div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>